body {
  font-family: sans-serif;
}
.intro {
  color: red;
}
#line2 {
  color: purple;
}

.digital {
  background-color: yellow;
}

.analog {
  background-color: green;
}

@media screen and (max-width: 480px) and (min-width: 300px) {
  body {
    background-color: teal;
    color: white;
  }
}

@media screen and (max-width: 1000px) and (min-width: 700px) {
  body {
    background-color: violet;

  }
}